{% extends 'base.html' %}

{% block title %}
Статьи сайта
{% endblock %}

{% block body %}
<div class="container mt-5">
  <h1>Статьи сайта</h1>

  {% if articles|length > 0 %}

  {% for element in articles %}
  <div class="alert alert-info">
    <h2>{{ element.title }}</h2>
    <p>{{ element.intro }}</p>
    <p><b>Дата публикации: {{ element.date.date() }}</b></p>
    <a href="/posts/{{ element.id }}" class="btn btn-warning">Дательнее</a>
  </div>
  {% endfor %}
  {% else  %}
  <p> Пока-что тут пусто, если хотите, создайте статейку</p>
  {% endif %}
</div>
{% endblock %}

